<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055746938253-va9apb58ev01vqq83loca1atr083jf7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055746938253-va9apb58ev01vqq83loca1atr083jf7o</string>
	<key>API_KEY</key>
	<string>AIzaSyBg3Ky-sO80aZWOhQR8VFKqwJa8F120TTU</string>
	<key>GCM_SENDER_ID</key>
	<string>1055746938253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodFlutter</string>
	<key>PROJECT_ID</key>
	<string>foodflutter-bd75c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodflutter-bd75c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055746938253:ios:b951bf6de5d6e8a5fdd9c4</string>
</dict>
</plist>